spring.data.mongodb.uri=mongodb+srv://<SEU_USUARIO>:<SUA_SENHA>@<SEU_CLUSTER>.mongodb.net/<NOME_DO_BANCO>?retryWrites=true&w=majority&appName=Cluster0
server.port=8081

# Expõe os endpoints de 'health' (para saber se está vivo) e 'prometheus' (para as métricas)
management.endpoints.web.exposure.include=health,prometheus
